body{
    background:rgb(201, 189, 229);
    color:  rgb(48, 34, 50);
  }

  header{
    background-color: rgb(48, 34, 50);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1{
    text-align: center;
}

.large-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

      .container {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;

      }

      .flex-item {
          padding: 1%;
          flex-grow: 0;
          flex-basis: 20%;
          display: flex;
          flex-direction: column;
          background-color: rgb(94, 76, 112);
          color: white;
          border: 1px solid black;
      }

      .flex-img img {
          max-width: 100%;
      }

      .flex-info {
          margin-top: auto;
          text-align: center;
      }

  img{
    width: 400px;
  }