body{
    /*background:rgb(201, 189, 229);*/
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color:  rgb(48, 34, 50);
  }

  header{
    background-color: rgb(48, 34, 50);
    position: sticky;
    top:-40px;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
.header-img{
  height: 15vh;
  width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1{
    text-align: center;
}

.large-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container-music {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
}

      .container {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
      }

      .flex-item {
          padding: 1%;
          flex-grow: 0;
          flex-basis: 20%;
          display: flex;
          flex-direction: column;
          background-color: rgb(94, 76, 112);
          color: white;
          border: 1px solid black;
      }
      .flex-item-music {
        padding: 1%;
        flex-grow: 0;
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        background-color: rgb(94, 76, 112);
        color: white;
        border: 1px solid black;
    }
      .flex-img img {
          max-width: 100%;
      }

      .flex-info {
          margin-top: auto;
          text-align: center;
      }

  img{
    width: 400px;
  }